{% extends 'base.html' %}

{% block content %}
<div class="container my-5">
    <div class="card shadow p-5 text-center">

        <h2 class="text-primary display-5">Xarajat: {{ expence.name }}</h2>
        
        {% if expence.book %}
        <p class="text-muted fs-5"><strong>Kitob:</strong> {{ expence.book }}</p>
        {% endif %}
        
        {% if expence.price %}
        <p class="text-muted fs-5"><strong>Narx:</strong> ${{ expence.price }}</p>
        {% endif %}

        {% if expence.quantitiy %}
        <p class="text-muted fs-5"><strong>Soni:</strong> {{ expence.quantitiy }}</p>
        {% endif %}
        
        {% if expence.total_price %}
        <p class="text-muted fs-5"><strong>Umumiy narx:</strong> ${{ expence.total_price }}</p>
        {% endif %}

        {% if expence.created_at %}
        <p class="text-muted fs-5"><strong>Sana:</strong> {{ expence.created_at|date:"d M Y" }}</p>
        {% endif %}

        {% if expence.description %}
        <hr>
        <p class="text-start fs-5">{{ expence.description|linebreaks }}</p>
        {% endif %}

        <a href="{% url 'expence_view' %}" class="btn btn-secondary mt-4">⬅️ Ortga qaytish</a>
    </div>
</div>
{% endblock content %}