    {% extends 'base.html' %}

    {% block content %}
    <div class="container mt-5">
        <div class="card shadow-lg border-0 rounded-4">
            <div class="card-header bg-primary text-white rounded-top-4">
                <h2 class="mb-0">Yangi chiqim Qo‘shish</h2>
            </div>
            <div class="card-body p-4">
                <form method="post" novalidate>
                    {% csrf_token %}
                    
                    <div class="mb-3">
                        {{ form.as_p }}
                    </div>

                    <div class="d-flex justify-content-between mt-4">
                        <a href="{% url 'expence_view' %}" class="btn btn-outline-secondary px-4">Bekor qilish</a>
                        <button type="submit" class="btn btn-primary px-4">Saqlash</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endblock content %}
